
@model dynamic
@{
    ViewBag.Title = "GetCustomer";
}

<h2>All Customers</h2>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@Html.ActionLink("Add new Customer", "Createn", "Product")
<table class="table table-bordered">
    <thead>
        <tr style="background-color:skyblue">
            <th>Id</th>
            <th>FName</th>
            <th>LName</th>
            <th>Dob</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Locations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customers in Model)
        {
        <tr>
            <th scope="row">@customers.Id</th>
            <td>@customers.F_Name</td>
            <td>@customers.L_Name</td>
            <td>@customers.Dob</td>
            <td>@customers.Mobile</td>
            <td>@customers.Email</td>
            <td>@customers.Locations</td>
            <td>@Html.ActionLink("Details", "GetCustomerById", new { id = customers.Id })</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = customers.Id })</td>
            <td>@Html.ActionLink("Delete", "DeleteCustomerById", new { id = customers.Id })</td>

        </tr>
        }
    </tbody>
</table>
