@if (Session["UserName"] != null)
{
    @model dynamic
    {
        ViewBag.Title = "GetCustomer";
    }
    <style>
        #myInput {
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
    </style>

    <h2>All Customers</h2>
    @Html.ActionLink("Add new Customer", "Createn", "Product")
    <br />
    <br />
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for First Name.." title="Type in a name">
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr style="background-color:skyblue">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Dob</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Locations</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customers in Model)
            {
                <tr class="prod">
                    <td scope="row">@customers.F_Name</td>
                    <td>@customers.L_Name</td>
                    <td>@customers.Dob</td>
                    <td>@customers.Mobile</td>
                    <td>@customers.Email</td>
                    <td>@customers.Locations</td>
                    <td>@Html.ActionLink("Details", "GetCustomerById", new { id = customers.Id })</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = customers.Id })</td>
                    <td>@Html.ActionLink("Delete", "DeleteCustomerById", new { id = customers.Id })</td>

                </tr>
            }
        </tbody>
    </table>
    <h3 id="hidd" hidden style="text-align:center;">No customer found</h3>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue, id, cl, c = 0;
            input = document.getElementById("myInput");
            id = document.getElementById("hidd");
            cl = document.getElementsByClassName("prod");
            cl = cl.length;
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        id.style.display = "none";
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                        c += 1;
                    }
                }
            }
            if (c == cl) {
                id.style.display = "block";
            }
        }
    </script>
}
else
{
    Response.Redirect("../Home/Index");
}
